#h3 {background-color: rgb(255, 0, 0);}
.h3 {background-color: yellow;}
h3 {background-color: aqua;}

#div1 {background-color: gold; width: 200px; height: 200px;}
.class01 {background-color: khaki; width: 200px; height: 200px;}
.class02 {background-color: rgb(32, 65, 163); width: 200px; height: 200px;}
#div1, .class01, .class02 {color: green; width: 400px;}
#div2 { width: 200px;}
.class03 {height: 200px; background-color: hotpink;}
#div3 {color: blue; width: 200px;}
#div4 { background-color: aqua;}

h1 {color: aquamarine;}
h2 {background-color: gray;}