#nav {width: 700px; background-color: aquamarine;}
#nav > ul {display: flex; background-color: rgb(141, 255, 42); list-style: none; padding: 0; flex-wrap: wrap; height: 100px; align-items: center;
justify-content: space-around;

/* flex-direction: row;} */ }

#nav > ul > li {border: 1px solid; width: 100px; 
    /* padding: 10px; */
    height: 50px; line-height: 50px; text-align: center;
}
a{text-decoration: none; color: rgb(255, 0, 0);
    &:hover{border-bottom: 3px solid olive; padding-bottom: 5px;
    color: beige;
    transition: 0.25s;
    }
}