#wrap {background-color: aquamarine; width: 400px; margin: 0 auto;}
#wrap > :nth-of-type(1) {background-color: chartreuse;}
#wrap > :nth-of-type(2) {display: flex;
    height: 200px; background-color: blue;
    & > :nth-of-type(1){ width: 100px; background-color: crimson;}
    & > :nth-of-type(2){ width: 300px; background-color: yellow;}
}
#wrap > :nth-of-type(3) {background-color: blueviolet;}


#div2 {background-color: aquamarine; width: 400px; margin: 0 auto;}
#div2 > :nth-of-type(1) {background-color: chartreuse;}
#div2 > :nth-of-type(2) {display: flex;
    height: 200px; background-color: blue;
    & > :nth-of-type(1){ width: 15%; background-color: blue;}
    & > :nth-of-type(2){ width: 60%; background-color: yellow;}
}
#div2 > :nth-of-type(3) {background-color: blueviolet;}

#div3 {background-color: aquamarine; width: 400px; margin: 0 auto;}
#header {background-color: greenyellow;}
#main {background-color: blue; height: 200px; display: flex;}
#footer {background-color: blueviolet;}

#list {background-color: darkgreen; width: 20%;}
#section { background-color: aqua; width: 60%;}
#section > div { width: 70%; margin: auto;
& div {border: 2px solid; margin-top: 30px; background-color: rgb(248, 227, 0);}}
#side {background-color: darkgreen;width: 20%;}


