ul { margin: 0; padding: 0;}
li { list-style: none; width: 100px; text-align: center; 
     height: 40px; line-height: 40px;
}
#world {
    width: 400px; background-color: cadetblue;
}
/* #menu { display: flex;} */
.menu1 {
    /*
    height: 120px;
    display: none;
    border: 1px solid;
    */
    height: 0;
    overflow: hidden;
    border-radius: 15px;
    margin-left: 100px;
    width: 100px;
    margin-top: -40px;
    background-color: aqua;
}
#menu li:hover .menu1 { 
    /* display: block; */
    height: 120px;
    border: 1px solid;
}
.menu2 {
    /*
    height: 120px;
    display: none;
    border: 1px solid;
    */
    height: 0;
    overflow: hidden;
    border-radius: 15px;
    margin-left: 100px;
    width: 100px;
   margin-top: -40px;
   background-color: aqua;
}
#menu li:hover .menu2 { 
    /* display: block; */
    height: 120px;
    border: 1px solid;
}
/*
#menu:hover .meuni {
    display: block;
    height: 120px;
    border: 1px solid; }
    */