*{ margin: 0; padding: 0;}
#header {width: 700px; height: 100px; background-color: rgb(69, 144, 255); display: flex;}

#logo {background-color: bisque; width: 100px; background-image: url(다운로드1.jpg); background-size: 100px 100px; border-radius: 100px;}

#nav {display: flex; background-color: rgb(69, 144, 255); width: 600px; 
    justify-content: space-between;}
#nav ul {list-style: none; display: flex; align-items: center;}

#nav ul li { margin: 0 10px; }
#nav ul li a {text-decoration: none; color: white; font-size: 20px;
    &:hover{color:plum;
    border-bottom: 5px solid rgb(0, 0, 0); padding-bottom: 5px; transition: 0.25s;}
}
#nav ul:nth-child(2) a {font-size: 15px; color: rgba(0, 0, 0, 0.477);}